.header-contact {
  z-index: 9999;
  grid-area: header / header / header / header;
  background-color: transparent;
  transition: all 300ms ease-in-out 0s;
  position: static;
}

/* Top Section + copiii */
.top-section {
  position: relative;
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
}

.bg-contacts {
  width: 100vw;
  background-image: url(https://www.itschool.ro/_next/static/media/background.d5722ffa.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -4.75rem;
  bottom: 0;
  z-index: -1;
  background-position: left bottom;
}

.wrapper-contacts {
  margin: auto;
  max-width: 50rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
}

.wrapper-contacts > h1 {
  font-family: Asap, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
  color: white;
  margin: 0px;
}

/* Mid Section + copiii */
.mid-section {
  /* border-radius: 1.6rem;
  background-color: var(--text-color-light);
  margin-top: -80px;
  height: 20rem; */
  position: relative;
  padding-bottom: 6rem;
}

.mid-section .contacts-form {
  position: relative;
  display: flex;
  border-radius: 1rem;
  box-shadow: rgb(25 30 48 / 10%) 0px 30px 60px 0px;
  background-color: rgb(253, 253, 253);
  margin-inline: auto;
  margin-top: -5rem;
}

.mid-section .contacts-form .form-input {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem;
}

.mid-section .contacts-form .form-input .input-loading {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.4s ease 0s;
  inset: 0px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.mid-section .contacts-form .form-input .input-loading .spinner-container {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.mid-section
  .contacts-form
  .form-input
  .input-loading
  .spinner-container
  .spinner-ring {
  position: relative;
  width: 3.125em;
  height: 3.125em;
}

.mid-section
  .contacts-form
  .form-input
  .input-loading
  .spinner-container
  .spinner-ring
  div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  margin: 0.3em;
  border-width: 0.3em;
  border-style: solid;
  border-image: initial;
  border-radius: 50%;
  animation: 1.2s cubic-bezier(0.5, 0, 0.5, 1) 0s infinite normal none running
    spin;
  border-color: rgba(25, 30, 48, 0.8) transparent transparent;
}

.mid-section
  .contacts-form
  .form-input
  .input-loading
  .spinner-container
  .spinner-ring
  div:nth-child(1) {
  animation-delay: -0.45s;
}

.mid-section
  .contacts-form
  .form-input
  .input-loading
  .spinner-container
  .spinner-ring
  div:nth-child(2) {
  animation-delay: -0.3s;
}

.mid-section
  .contacts-form
  .form-input
  .input-loading
  .spinner-container
  .spinner-ring
  div:nth-child(3) {
  animation-delay: -0.15s;
}

.mid-section .contacts-form .form-input .boxformat {
  display: flex;
  align-items: flex-start;
  height: 4.75rem;
  gap: 1.5rem;
}

.mid-section .contacts-form .form-input .captcha-wrapper {
  margin-top: 3rem;
}

.mid-section .contacts-form .form-input .contact-agreement {
  display: flex;
  gap: 0.25rem;
}

.mid-section .contacts-form .form-input .contact-agreement .checkbox-container {
  cursor: pointer;
  width: 100%;
  display: flex;
  gap: 0.125rem;
  -webkit-box-align: center;
  align-items: center;
  color: rgba(25, 30, 48, 0.4);
}

.mid-section
  .contacts-form
  .form-input
  .contact-agreement
  .checkbox-container
  .checkbox-style {
  cursor: pointer;
  font-family: Asap, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: rgb(25, 30, 48);
}

.mid-section .contacts-form .form-input .contact-agreement > p {
  font-family: Asap, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5;
  overflow-wrap: break-word;
  color: rgb(25, 30, 48);
  width: 100%;
  cursor: pointer;
}

.mid-section .contacts-form .form-input .contact-agreement > p > a {
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 0.0625em;
  font-size: 0.875rem;
  color: rgb(0, 135, 104);
  transition: all 0.25s ease-in 0s;
}

.mid-section .contacts-form .form-input .contact-agreement .link-typography {
  display: block;
  text-decoration: none;
  margin: 0px;
  font-weight: 500;
  font-size: 0.625em;
  line-height: 1;
  color: inherit;
}

.mid-section .contacts-form .form-input .captcha-wrapper .g-recaptcha-response {
  width: 250px;
  height: 40px;
  border: 1px solid rgb(193, 193, 193);
  margin: 10px 25px;
  padding: 0px;
  resize: none;
  display: none;
}

/* .mid-section .contacts-form .form-input .captcha-wrapper .grid-spacer {
  width: 100%;
  height: 0.4rem;
} */

.mid-section .contacts-form .form-input .form-label {
  font-family: Asap, sans-serif;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.33;
  color: rgba(25, 30, 48, 0.6);
  margin-bottom: 0.15rem;
}

.mid-section .contacts-form .form-input .input-wrapper {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgba(25, 30, 48, 0.4);
  border-radius: 1.25rem;
  margin-bottom: 5px;
  overflow: hidden;
}

.mid-section .contacts-form .form-input .input-wrapper.message {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid rgba(25, 30, 48, 0.4);
  border-radius: 1.25rem;
  overflow: hidden;
}

.mid-section .contacts-form .form-input .container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mid-section .contacts-form .form-input .input-text {
  width: 100%;
  border: 0px;
  outline: 0px;
  background-color: transparent;
  font-size: 1rem;
  padding: 0.68rem 1rem;
  color: rgb(25, 30, 48);
}

.mid-section .contacts-form .form-input .registration-submit .button-container {
  cursor: pointer;
  width: 100%;
  padding: 0px 3rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 1.5rem;
  min-width: 7.125rem;
  color: white;
  background-color: rgb(0, 135, 104);
  transition: all 0.25s ease-in 0s;
}

.mid-section
  .contacts-form
  .form-input
  .registration-submit
  .button-container:hover {
  opacity: 0.8;
}

.mid-section
  .contacts-form
  .form-input
  .registration-submit
  .button-container
  > p {
  display: block;
  margin: 0px;
  padding: 0.68rem 0px;
  font-weight: 500;
  font-size: 1.125rem;
  color: white;
  transition: all 0.25s ease-in 0s;
}

.mid-section .contacts-form .form-input::after {
  content: "";
  position: absolute;
  width: 1px;
  right: 0px;
  top: 3rem;
  bottom: 3rem;
  border-right: 1px solid rgba(25, 30, 48, 0.1);
}

.mid-section .contacts-form .form-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.mid-section .contacts-form .form-info > h3 {
  font-family: Asap, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
  color: rgb(25, 30, 48);
  margin: 0px;
}

.mid-section .contacts-form .form-info > p {
  font-family: Asap, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  overflow-wrap: break-word;
  color: rgb(25, 30, 48);
}

.mid-section .contacts-form .form-info > p > a {
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 0.0625em;
  font-size: 1rem;
  color: rgb(0, 135, 104);
  transition: all 0.25s ease-in 0s;
}

.mid-section .contacts-form .form-info .link-typography {
  display: block;
  text-decoration: none;
  margin: 0px;
  font-weight: 500;
  font-size: 0.625em;
  line-height: 1;
  color: inherit;
}

.mid-section .contacts-form .form-info .contact-info {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.5rem;
}

.mid-section .contacts-form .form-info .contact-info img {
  display: block;
  max-width: 100%;
}

.mid-section .contacts-form .form-info .contact-info > h5 {
  font-family: Asap, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.22;
  color: rgb(25, 30, 48);
  margin: 0px;
}

.mid-section .contacts-form .form-info .contact-info > p {
  font-family: Asap, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.33;
  overflow-wrap: break-word;
  color: rgba(25, 30, 48, 0.6);
}

.buttom-section {
  position: relative;
  width: 100%;
  max-width: 48.75rem;
  margin: auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0px 6rem;
}

.buttom-section .location-addresses {
  display: flex;
  flex-direction: column;
  max-width: 36.25rem;
  margin: auto;
}

.buttom-section .location-addresses > p {
  font-family: Asap, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  overflow-wrap: break-word;
  color: rgba(25, 30, 48, 0.4);
}

.buttom-section .location-addresses > h2 {
  font-family: Asap, sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 1.22;
  color: rgb(25, 30, 48);
  margin: 0px;
}

.buttom-section .location-addresses-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  width: 100%;
  max-width: 58rem;
}

@media (min-width: 960px) {
  .buttom-section .location-addresses-icons > :last-child {
    grid-column: 2 / span 1;
  }
}

.buttom-section .location-addresses-icons .location-icon {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.5rem;
}

.buttom-section .location-addresses-icons .location-icon img {
  width: 2.25rem;
  height: 2.25rem;
}

.buttom-section .location-addresses-icons .location-icon > p {
  font-family: Asap, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  overflow-wrap: break-word;
  color: rgb(25, 30, 48);
}

footer .footer-line {
  width: 100%;
  height: 1px;
  background-color: rgba(25, 30, 48, 0.1);
}

footer .foot-header > p {
  color: var(--text-color-dark);
}
