/* Stilizare Sectiuni */

/* Sectiunea 1 */
main .hero-title {
  height: 40.2rem;
  display: flex;
  align-items: flex-start;
  margin-top: 10rem;
}

.image-content {
  position: absolute;
  background-color: var(--bg-dark);
  background-image: url("https://www.itschool.ro/_next/static/media/background-big.6f4ab9bf.svg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right bottom;
  background-attachment: fixed;
  width: 100vw;
  height: 43.75rem;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.image-content .image-layout {
  height: 43.75rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: min(1240px, 100vw - 20px);
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
}

.image-content .image-layout img {
  height: 80%;
}

.hero-title .hero-message {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.hero-message h1 {
  margin-top: 1.5rem;
  margin-bottom: var(--spacing-l);
}

.hero-message p {
  color: white;
  margin-bottom: 1.5rem;
}

.hero-message .sponsori {
  display: flex;
  gap: 2rem;
  margin-bottom: var(--spacing-l);
}

.sponsori img {
  height: 36px;
  width: auto;
}

.button-group {
  display: flex;
  gap: var(--spacing-normal);
}

.button-group a {
  font-size: var(--font-size-m);
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  transition: all ease-in-out 0.5s;
}

.button-group a:hover {
  opacity: 0.8;
}

/* Sectiunea 2 */
.second-section {
  position: relative;
  width: 100%;
  padding: 9.6rem 5rem;
}

.second-section::before {
  content: "";
  display: block;
  inset: 0px 0px 0px calc(-50vw + min(600px, 50vw - 3rem));
  width: 100vw;
  position: absolute;
  z-index: -2;
  background-size: auto;
  background-color: rgba(202, 205, 193, 0.1);
}

@media (min-width: 960px) {
  .second-section::before {
    background-image: url("https://www.itschool.ro/_next/static/media/background.570f46a1.svg");
    background-repeat: no-repeat;
    background-position: center top;
  }
}

.second-section .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.second-section .title h2 {
  text-align: center;
}

/* Carousel */

.second-section .slider .slides .course-set li {
  box-sizing: border-box;
  flex: 1 1 auto;
  position: relative;
  /* width: 300px; */
}

.second-section .slider .slides .course-set .grid-spacer {
  width: 100%;
  height: 1.7rem;
}

.second-section .slider .slides .course-set .grid-spacer-xs {
  width: 100%;
  height: 0.8rem;
}

.slider {
  width: min(100vw, 1200px);
  text-align: center;
  overflow: hidden;
  background: transparent;
}

.slides {
  display: flex;
  height: 550px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /*
scroll-snap-points-x: repeat(300px);
scroll-snap-type: mandatory;
*/
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: min(100vw, 1200px);
  margin-right: 50px;
  border-radius: 10px;
  background: transparent;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 0.25rem;
  background: var(--bg-primary);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 0.125rem;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.slider > a:active {
  top: 1px;
}

.slider > a:focus {
  background: #000;
}

.course-set {
  display: flex;
  gap: var(--spacing-m);
  padding: var(--spacing-m) 0;
}

/* Stilizare Sectiuni Individuale */
main .second-section {
  position: relative;
  width: 100%;
  padding: 9.6rem 5rem;
  /* background-color: rgba(202, 205, 193, 0.1); */
  /* z-index: -3; */
  margin-top: -11rem;
}

main .second-section::before {
  content: "";
  display: block;
  inset: 0px 0px 0px calc(-50vw + min(600px, 50vw - 3rem));
  width: 100vw;
  position: absolute;
  z-index: -2;
  background-size: auto;
  background-color: rgba(202, 205, 193, 0.1);
}

@media (min-width: 960px) {
  main .second-section::before {
    background-image: url("https://www.itschool.ro/_next/static/media/background.570f46a1.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
  }
}

main .second-section .call-action {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: 3rem;
  padding: var(--spacing-m) 0;
}

main .sponsor-section {
  background-color: rgba(202, 205, 193, 0.1);
}

main .second-section .sponsor-title {
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-l);
  margin-left: 3rem;
  text-align: center;
  width: 100%;
  color: var(--text-color-muted);
}

main .second-section .sponsor-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
  justify-content: center;
}

main .second-section .sponsor-list .sponsor-item {
  flex-basis: 160px;
}

main .third-section {
  display: grid;
  gap: 0.8rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "subtitle subtitle . ."
    "title title . ."
    "description description poster poster"
    "programming programming poster poster"
    "webdev webdev poster poster"
    "graphics graphics devops devops"
    "skillup skillup test others";
  padding: 9.6rem 0px 0px;
}

main .third-section .subtitle {
  grid-area: subtitle / subtitle / subtitle / subtitle;
  text-transform: uppercase;
  color: rgba(25, 30, 48, 0.4);
  padding-bottom: 1.6rem;
  color: var(--text-color-muted);
}

main .third-section .title {
  grid-area: title / title / title / title;
  padding-bottom: 2.4rem;
}

main .third-section .description {
  grid-area: description / description / description / description;
  padding-bottom: 4.8rem;
}

main .third-section .poster {
  position: relative;
  grid-area: poster / poster / poster / poster;
  display: block;
}

main .third-section .poster img {
  width: 100%;
  margin-left: auto;
  max-width: 50rem;
  display: block;
}

main .third-section .programing {
  grid-area: programming / programming / programming / programming;
  padding-bottom: 4.8rem;
}

main .third-section .webdev {
  grid-area: webdev / webdev / webdev / webdev;
  padding-bottom: 4.8rem;
}

main .third-section .devops {
  grid-area: devops / devops / devops / devops;
  padding-bottom: 4.8rem;
}

main .third-section .test {
  grid-area: test / test / test / test;
  padding-bottom: 4.8rem;
}

main .third-section .graphics {
  grid-area: graphics / graphics / graphics / graphics;
  padding-bottom: 4.8rem;
}

main .third-section .skillup {
  grid-area: skillup / skillup / skillup / skillup;
  padding-bottom: 4.8rem;
}

main .third-section .others {
  grid-area: others / others / others / others;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.tech-list .tech-icon {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  padding: var(--spacing-normal);
  border-radius: 50%;
  box-shadow: rgb(25 30 48 / 5%) 0px 10px 10px 0px;
  background-color: white;
}

.tech-list .tech-icon img {
  width: 100%;
}

main .fourth-section {
  position: relative;
  width: 100%;
  /* padding: 9.6rem 0px; */
  padding: 6rem 0px;
}

main .fourth-section::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -50vw;
  width: 150vw;
  z-index: -1;
  display: block;
  background-color: rgb(19, 123, 188);
}

main .fourth-section .testimonials {
  display: grid;
  grid-template-areas:
    "titles icon comment"
    "buttons icon comment"
    "buttons . ."
    ". . controls";
}

main .fourth-section .testimonials-intro {
  grid-area: titles / titles / titles / titles;
  display: flex;
  gap: 1rem;
  /* gap: 1.6rem; */
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  /* max-width: 48rem; */
}

main .fourth-section .testimonials-intro p {
  font-family: Asap, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  overflow-wrap: break-word;
  color: white;
}

main .fourth-section .testimonials-intro h2 {
  font-family: Asap, sans-serif;
  font-size: 2.25rem;
  /* font-size: 3.6rem; */
  line-height: 1.22;
  color: white;
  margin: 0px;
}

main .fourth-section .testimonials-icon {
  grid-area: icon / icon / icon / icon;
  color: white;
  margin-left: 7.5rem;
  margin-right: 1.25rem;
  /* margin-left: 12rem;
  margin-right: 2rem; */
}

main .fourth-section .testimonials-text {
  grid-area: comment / comment / comment / comment;
  color: white;
  opacity: 0.8;
}

main .fourth-section .testimonials-social-media {
  margin-top: 3rem;
  /* margin-top: 4.8rem; */
  grid-area: buttons / buttons / buttons / buttons;
  display: flex;
  gap: 1rem;
  /* gap: 1.6rem; */
  flex-direction: column;
  width: fit-content;
  max-width: 25rem;
  /* max-width: 40rem; */
}

main .fourth-section .testimonials-social-media a.text-testimoniale {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  /* padding: 0.8rem 2.4rem; */
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  background-color: white;
  border-radius: 1.5rem;
  transition: opacity 0.25s ease-in 0s;
}

main .fourth-section .testimonials-social-media p.text-testimoniale {
  font-family: Asap, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  overflow-wrap: break-word;
  color: rgb(25, 30, 48);
}

main .fourth-section .testimonials-social-media p.text-testimoniale:hover {
  color: rgb(19, 123, 188);
}

main .fourth-section .testimonials-social-media a.text-facebook {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  border-radius: 1.5rem;
  border: 1px solid white;
  background-color: transparent;
  transition: opacity 0.25s ease-in 0s;
}

main .fourth-section .testimonials-social-media p.text-facebook {
  font-family: Asap, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  overflow-wrap: break-word;
  color: white;
}

main .fourth-section .testimonials-social-media p.text-facebook:hover {
  color: whitesmoke;
}

main .fourth-section .testimonials-students {
  grid-area: controls / controls / controls / controls;
  display: grid;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  align-items: center;
}
main .fourth-section .testimonials-students p {
  color: white;
}

main .fifth-section {
  margin: auto;
  max-width: 48.75rem;
  width: 100%;
  padding: 3rem 0px 6rem;
  /* padding: 4.8rem 0px 9.6rem; */
  display: flex;
  gap: 2.4rem;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
}

main .fifth-section h2 {
  font-family: Asap, sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 1.22;
  color: rgb(25, 30, 48);
  margin: 0px;
}

main .fifth-section .spacer {
  width: 100%;
  height: 3rem;
}

main .fifth-section .faq-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0px 1.5rem;
  border-radius: 1rem;
  box-shadow: rgb(25 30 48 / 10%) 0px 20px 40px 0px;
  background-color: rgb(253, 253, 253);
}

main .fifth-section .faq-text-section {
  cursor: pointer;
  z-index: 1;
  padding: 1.5rem 0px;
  display: flex;
  gap: 0.6rem;
}

main .fifth-section .faq-text-section > h4 {
  flex: 1 1 0%;
}

main .fifth-section .faq-text {
  font-family: Asap, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(25, 30, 48);
  margin: 0px;
}

main .fifth-section .faq-section > p {
  font-family: Asap, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  overflow-wrap: break-word;
  color: rgb(25, 30, 48);
}

main .fifth-section .faq-section .faq-answer-text {
  margin-left: 1.75rem;
  z-index: 0;
  transition: all 0.4s ease-out 0s;
  opacity: 0;
  max-height: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  border-top: 1px solid rgba(25, 30, 48, 0.4);
}

main .fifth-section .faq-more {
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 0.0625em;
  /* padding-bottom: 0.1em; */
  font-size: 1rem;
  color: rgb(0, 135, 104);
  transition: all 0.25s ease-in 0s;
}

main .fifth-section .faq-more .faq-more-span {
  display: block;
  text-decoration: none;
  margin: 0px;
  font-weight: 500;
  font-size: 0.625em;
  line-height: 1;
  color: inherit;
}

main .fifth-section .faq-more .faq-more-span .faq-button-style {
  cursor: pointer;
  width: fit-content;
  padding: 0px 3rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 1.5rem;
  min-width: 7.125rem;
  transition: all 0.25s ease-in 0s;
  border: 1px solid rgb(0, 135, 104);
  color: rgb(0, 135, 104);
  background-color: white;
}
main .fifth-section .faq-more .faq-more-span .faq-button-style > p {
  display: block;
  margin: 0px;
  transition: all 0.25s ease-in 0s;
  padding: 0.5rem 0px;
  font-weight: normal;
  font-size: 1rem;
  color: rgb(0, 135, 104);
}

main .fifth-section .faq-more .faq-more-span .faq-button-style > p:hover {
  z-index: 9999;
  opacity: 0.75;
  transition: opacity 0.25s ease-in 0s;
}

main .subscribe:before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -50vw;
  width: 150vw;
  z-index: -1;
  display: block;
  background-image: url("https://www.itschool.ro/images/greenish-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
